@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    width: 90%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
    max-width: 400px;

}

#cont-titles-descri{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    font-family: 'Libre Franklin', sans-serif;
}

#titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

#titles h1{
    font-size: 30px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.562);
}

#titles #soon{
    font-weight: 700;
}

#img img{
    width: 100%;
}
#input-button{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}
.button-input{
    width: 100%;

    height: 60px;

    border-radius: 30px;
    border: none;

    font-family: 'Libre Franklin', sans-serif;
}

#input-button input{
    border: 1px solid rgba(0, 0, 0, 0.514);

    padding-left: 30px;

    outline: 0;
}

#input-button button{
    color: white;
    background-color: hsl(223, 87%, 63%);

    font-size: 15px;
    font-weight: 600;
}

#icons{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icons-menu{
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 50%;
    color: red;
}

.icons-menu img{
    width: 100%;
    color: rgb(255, 0, 255);
}

#error-p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


#error-p p{
    width: 100%;
    display: none;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    color: red;

    padding-left: 20px;

    margin-bottom: 30px;
    
}